* {
    box-sizing: border-box;
  }

body {
    /* background: #fff; */
    /* background-image: linear-gradient(to right top, #845ec2, #b45cb6, #d65fa5, #ed6993, #fa7a82, #ff8977, #ff9a6e, #ffac69, #ffbe66, #ffd166, #ffe469, #f9f871); */
    font-family: montserrat;
    /* margin: 0; */
    min-height: 100vh;
    background-image: url("/Users/julianazlatevski/sei/deliverables/project-0/imgs/pexels-free-nature-stock-1376766.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: -8px;
}

::-webkit-scrollbar {
    display: none;
}


.popup-overlay {
    background: rgba(0,0,0,0.8);
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    /* display: none; */
}

.popup-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    background: #ffffff;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 4px 40px rgba(0,0,0,0.6);
    position: relative;
}

.popup-close {
    position: absolute;
    top: -5px;
    right: -5px;
    background: darkred;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    transform: rotateZ(45deg);
    cursor: pointer;
}

.popup-title {
    font-weight: 100;
    text-align: center;
    font-family: 'Ranchers', cursive;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    background: -webkit-linear-gradient(rgb(136, 69, 245), rgb(228, 163, 79));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.popup-name {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.popup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    color: #26C281;
    margin-top: 5px;
}

h1 {
    font-weight: 100;
    /* border: 1px solid #000; */
    color: white;
    text-align: center;
    font-family: 'Ranchers', cursive;
    font-size: 80px;
    text-transform: uppercase;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    /* background: -webkit-linear-gradient(rgb(136, 69, 245), rgb(228, 163, 79));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 30%;
    /* border: 4px solid yellow; */
}

.profile-card-stats {
    float: right;
    width: 40%;
    /* border: 3px solid green; */
    margin-top: 50px;
    /* margin-right: 5px; */

}

.moon-img {
    width: 55%;
    float: left; 
    margin-top: 0px; 
    filter: invert(1);
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 50%;
}


.name-label, .age-label, .time-label {
    font-weight: 500;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 10px;
}

.name, .age, .time {
    font-weight: 500;
    text-transform: lowercase;
    color: #fff;
    margin: 0;
    letter-spacing: 0px;
    font-size: 15px;
}

.health-box {
    /* border: 1px solid #000; */
    width: 28%; 
    margin-top: 0px;
    margin-left: 2%;
    /* margin-left: 10px; */
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.health-label {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}

.heart{
    display: inline;
    font-family: courier new;
    font-size: 24px;
    padding-right: 4px;
    color: rgb(187, 7, 7);
}

.hunger, .sleepiness, .boredom {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0px;
}

.button-box {
    text-align: center;
    padding-top: 20px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eat-btn, .sleep-btn, .play-btn {
    font-size: 70px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
}

.eat-btn, .sleep-btn {
    width: 130px;
    border-radius: 50%;
}

.nav {
    /* border: 1px solid; */
    display: flex;
    float: right;
    padding-right: 0px;
    margin-top: -30px;
}

.retry-btn, .help-btn {
    color: #fff;
    font-size: 40px;
    padding: 0px 5px 0 5px;
    /* margin: 0px 20px 0 0; */
}

.outline {
    /* border: 1px solid #000; */
    width: 100%;
    background: #efefef;
    border-radius: 10px;
}

.hunger-bar, .sleep-bar, .boredom-bar {
    border: 0px solid #e7e6e6;
    height: 20px;
    background-image: linear-gradient(to right, #845ec2, #a55dbd, #c15db5, #d95fab, #ec64a0, #f76e91, #fd7b84, #ff8a7a, #ffa26e, #ffbd66, #ffda65, #f9f871);
    /* background-image: linear-gradient(to right, #7ce34d, #91e246, #a4e140, #b5e03c, #c5de3a, #d2d129, #dec41c, #e8b716, #ee9a0f, #f07c1c, #ed5d2b, #e53939); */
    border-radius: 10px;
}
